[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "depmix"]
	path = depmix
	url = https://github.com/cran/depmix
[submodule "depmixS4"]
	path = depmixS4
	url = https://github.com/cran/depmixS4
[submodule "glba"]
	path = glba
	url = https://github.com/cran/glba
[submodule "metatest"]
	path = metatest
	url = https://github.com/cran/metatest
